# Build artifacts
*.o
*.out
*.a
*.so
*.exe
*.log

# SFML or other libs
lib/
bin/

# CMake or Make
CMakeFiles/
CMakeCache.txt
Makefile

# Backup or temp files
*~
*.swp
.DS_Store

# Save data
savefile.json
